<div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-12 col-md-8">
                <div class="row py-2 bg-fantastidog-verde body-fan text-center">
                    <div class="col-12">
                        <a href="/agregar_pedido" class="btn btn-success">Agregar pedido</a>
                        <h4 class="text-dark">Pedidos de la semana</h4>
                    </div>
                    {{#if pedidos}}
                    <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Pack</th>
                                    <th>Temática</th>
                                    <th>Entrega</th>
                                    <th>Costo</th>
                                    <th>Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each pedidos}}
                                <tr>
                                    <td>{{nombre_mascota}}</td>
                                    <td>{{edad}} año</td>
                                    <td>{{pack}}</td>
                                    <td>{{tematica}}</td>
                                    <td>{{dateformat fecha_entrega}}</td>
                                    <td>{{costo}}</td>
                                    {{#eq estado _id}}
                                    {{/eq}}
                                </tr>
                                {{/each}}
                            </tbody>
                    </table>
                    {{else}}
                    <p class="h4">No hay pedidos</p>
                    
                    {{/if}}
                </div>
            </div>
        </div>
</div>
